#OSX
.DS_Store
target/

.idea/
*.iml

#Gradle
build/
.gradle/
local.properties
library/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_deps
library/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_log
library/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build.json
library/.externalNativeBuild/cmake/debug/armeabi-v7a/build.ninja
library/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_command.txt
library/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_output.txt
library/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_install.cmake
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeCache.txt
library/.externalNativeBuild/cmake/debug/armeabi-v7a/rules.ninja
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/gpuimage-library.dir/jni/yuv-decoder.c.o
library/.externalNativeBuild/cmake/release/armeabi-v7a/android_gradle_build.json
library/.externalNativeBuild/cmake/release/armeabi-v7a/build.ninja
library/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_build_command.txt
library/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_build_output.txt
library/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_install.cmake
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeCache.txt
library/.externalNativeBuild/cmake/release/armeabi-v7a/rules.ninja
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeOutput.log
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/TargetDirectories.txt
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
